// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.styl files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.
// src/css/quasar.variables.styl

// src/css/quasar.variables.styl

$primary   = #355070
$secondary = #9e0059
$accent    = #dee2e6


$dark      = #1d1d1d

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037



//4d908e


